lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.nyc_output

pids
logs
results

node_modules
npm-debug.log
.DS_Store
coverage
sbenv

#Xcode
DerivedData
*.build
*.app
*.xcworkspace
*.xcuserdatad
persistent_config.json
data/*
spacebrew_log*
